body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 18px;
}

img {
    border: 0;
}

a {
    text-decoration: none;
}
a:link {
    color: #36a;
}
a:visited  {
    color: #47a;
}
a:active, a:hover {
    color: #69c;
}

ul {
    margin: 0 0 5px 10px;
    padding: 0;
}
li {
    font-size: 12px;
    list-style: none;
    margin: 0;
    padding: 1px;
    white-space: nowrap;
}

table {
    background-color: #fff;
    border-collapse: collapse;
    font-size: 11px;
    margin: 0;
    padding: 0;
}
th {
    background-color: #fff;
    color: #000;
    font-weight: bold;
    height: 26px;
    margin: 0;
    min-width: 26px;
    padding: 0;
    width: 26px;
}
td {
    border: 1px solid #fff;
    color: #000;
    font-weight: bold;
    height: 26px;
    margin: 0;
    min-width: 26px;
    padding: 0;
    text-align: center;
    width: 26px;
}
col.even,
tr.even {
	background-color: rgba(224, 224, 224, 0.4)
}

td.cycle {
	background-color: rgba(224, 0, 0, 0.6);
    color: #fff;
}

.packageName_rows {
    background-color: #e8eaf6;
    border: 1px solid #fff;
    color: #000;
    font-size: 11px;
    font-weight: bold;
    padding-left: 0.8em;
    padding-right: 0.8em;
    text-align: left;
    white-space: nowrap;
}

.packageName_rows * {
    vertical-align: middle;
}

.packageNumber_rows {
    background-color: #7986cb;
    border: 1px solid #fff;
    color: #e8eaf6;
    font-weight: bold;
}

.packageName_cols {
    background-color: #e8eaf6;
    border: 1px solid #fff;
    color: #e8eaf6;
    font-weight: bold;
    height: 170px;
    text-align: center;
    vertical-align: bottom;
}

.packageName_cols a {
    display: inline-block;
    padding-bottom: 0.8em;
    padding-top: 0.8em;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    width: 26px;
}

.packageNumber_cols {
    background-color: #7986cb;
    border: 1px solid #fff;
    color: #e8eaf6;
    font-weight: bold;
}

.diagonal {
    background-color: #aaa;
    color: transparent;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.numberOfClasses {
    color: #999;
    font-size: 80%;
    font-style: italic;
}
