h1 {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 18px;
}

img {
    border: 0;
}

a {
    text-decoration: none;
}
a:link {
    color: #36a;
}
a:visited  {
    color: #47a;
}
a:active, a:hover {
    color: #69c;
}

ul {
    margin: 0 0 5px 10px;
    padding: 0;
}

li {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 12px;
    list-style: none;
    margin: 0;
    padding: 1px;
    white-space: nowrap;
}

table {
    background-color: #f0f0f0;
    border: solid 1px #000;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 11px;
    margin: 0;
    padding: 0;
}
th {
    background-color: #ddd;
    border: solid 0 #000;
    border-bottom: solid 1px #fff;
    border-left: solid 1px #fff;
    color: #000;
    font-weight: bold;
    margin: 0;
    min-height: 18px;
    min-width: 18px;
    padding: 2px;
}
td {
    background-color: #ddd;
    border: solid 0 #000;
    border-bottom: solid 1px #fff;
    border-left: solid 1px #fff;
    color: #000;
    font-weight: bold;
    margin: 0;
    min-height: 18px;
    min-width: 18px;
    padding: 2px;
    text-align: center;
}

.cycle {
    color: #f00;
}

#first-row {
    height: 170px;
    text-align: left;
    vertical-align: bottom;
}

.packageName_rows {
    background-color: #ddd;
    border: 0;
    border-right: solid 1px #000;
    border-top: solid 1px #000;
    color: #000;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-align: left;
    white-space: nowrap;
}

.packageNumber_rows {
    background-color: #bbd;
    border: 0;
    border-right: solid 1px #000;
    border-top: solid 1px #000;
    color: #000;
    font-weight: bold;
    text-align: center;
}

.packageName_cols {
    background-color: #bbd;
    border: 0;
    border-bottom: solid 1px #000;
    border-left: solid 1px #000;
    color: #000;
    font-weight: bold;
    text-align: center;
}

.vertical_text {
    display: inline-block;
    padding-bottom: 5px;
    transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    width: 20px;
}

.diagonal {
    background-color: #aaa;
    color: transparent;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
